/* Font: Merriweather, Lato
Farbe: #202020, #24bff2, #fff, #F5FBFE.
Farbe social media: #3b5998, #fcaf45, #55acee, #c4302b */



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

@font-face {
    font-family: Merriweather;
    src: url(/assets/fonts/Merriweather/Merriweather-Regular.ttf);
}

@font-face {
    font-family: Lato;
    src: url(/assets/fonts/Lato/Lato-Regular.ttf);
}


main, footer {
    font-family: Merriweather;
}

header, footer {    
    margin: 1% 0 0 5%;
    
   }

main {
    margin: 0% 0% 0% 5%;
}

header {
    font-family: Lato;
    text-transform: uppercase;
    color: #202020;    
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    
}

/* header */

header nav {
    width: 60%;
    margin: 1% 0% 0% 85%;
}

header a {
    color: black;
}

header li {
    display: inline-block;
}

/* main */

h1, h2 {
    font-size: 3em;
    margin: 0.7em 0 ;
    
   
}

p {
    font-size: 1em;
    margin: 0.5em 0;
    line-height: 1.5em;

}

/* main section:nth-of-type(1)  {
    height: 290vh;
    
} */

main article {
    height: 85vh;
       
}

/* first 3 images */
main section:nth-of-type(1) article:nth-of-type(odd) img {
    width: 33%;
    margin: 0 0 0 16%;
}

main section:nth-of-type(1) article:nth-of-type(even) img {
    width: 33%;
    margin: 0 16% 0 0;
}

section article div {
    width: 30vw;
    height: 30vh;
    margin: 10% 0 0 0;
    padding: 10% 0 0 0 ;
    display: inline-block;
   
 
}

main ul {
    margin: 0 5%;
}

main ul li {
    display: inline-block;
    width: 25%;
    margin: 2% ;
    padding: 1.5%;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
}

main ul li:nth-of-type(1) {
    background-color: #202020;
    
}

main ul li:nth-of-type(1) a {
    color: white;
}

main ul li:nth-of-type(2) {
    background-color: white;
    
}

main ul li:nth-of-type(2) a {
    color:#202020;
}
/* hover  */
main ul li:nth-of-type(1):hover {
    background-color: white;
    
}

main ul li:nth-of-type(1):hover a {
    color: black;
}

main ul li:nth-of-type(2):hover {
    background-color: black;
    
}

main ul li:nth-of-type(2):hover a {
    color: white;
}


main section:nth-of-type(2) {
    text-align: center;
    margin: -10% 0 0 0 ;
   

}

main section:nth-of-type(2) article:nth-of-type(1) {
    width: 70%;
    height: 60vh;
    margin: 0 auto 10%;
    
}

/* main section:nth-of-type(2) article:nth-of-type(1) p {
    padding: 0 10%;
} */
main section:nth-of-type(2) article:nth-of-type(1) div {
    width: 100%;
    margin: 0 0 0 0;

} 

main section:nth-of-type(2) article:nth-of-type(1) img {
    width: 30%;
}

main section:nth-of-type(2) article:nth-of-type(1) img:hover {    
    box-shadow: 1px 1px 25px #eceae7; 
}

main section:nth-of-type(3) {
    width: 80%;
    margin: 0 auto 10%;
    text-align: center;
   
}

h2 ~ p {
    padding: 0 20%;
    text-align: center;
}

h2, h3 {
    text-align: center;
}


main section:nth-of-type(3) img {
    width: 28vw;
    margin: 1%;
    
}

main section:nth-of-type(3) img:hover {
    box-shadow: 1px 1px 25px #eceae7;  
    
}



main section:nth-of-type(3) div {
    width: 95%;
    margin: 0 auto; 
    padding: 2% 1% 0 0 ;
}


main section:nth-of-type(4) article {
    width: 25%;
    margin: 2% auto;
    text-align: center;
    background: #F5FBFE;
    height: 40%;
    padding: 2%;
}

main section:nth-of-type(4) article a {
    color: white;
    background: #24bff2;
    width: 80%;
    margin: 4% 0 0 4%;
    height: 2%;
    display: inline-block;
    padding: 4% 6%;
    border-radius: 5%;;
    
}

main section:nth-of-type(4) article h3:nth-of-type(2) {
    color: grey;
    padding: 0 0 5% 0;
}

main section:nth-of-type(4) article p {
    font-size: 0.9em;
}




footer {
    text-align: center;
    line-height: 2em;
    
}

footer h2 {
    margin: 7% auto 4%;
}

footer p {
    color: #84959e;
    
}

footer a {
    color: black;
}

i {
    padding: 0.5%;
    font-size: 1.2em;
}

.fa-facebook {
    color: #3b5998
    }
.fa-instagram {
    color: #fcaf45;
}
.fa-twitter {
    color: #55acee;}
.fa-youtube {
    color: #c4302b;
}









